    * {
        box-sizing: border-box;
    }
    
    body {
        background: #f6f7f8;
        font-family: 'Open Sans', sans-serif;
        transition: hover 0.5s linear;
    }
    
    .flex-container .col-3 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .flex-container {
        display: flex;
    }
    
    .blue {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 10px;
        display: block;
        color: #24cdd5;
    }
    
    .dark {
        font-size: 3rem;
        color: #384141;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
    }
    
    .right {
        margin-bottom: 3.65rem;
        font-size: 14px;
        color: #808080;
        line-height: 1.7;
        position: relative;
        top: 30px;
    }
    
    .text-content {
        padding: 2rem 1rem;
        background: #fff;
        text-align: center;
        height: 108px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-transform: capitalize;
        top: 0px;
    }
    
    h4 {
        position: relative;
        top: -20px;
        font-family: 'Montserrat', sans-serif;
        color: #384141;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .overlay h4 {
        position: relative;
        top: -35px;
        font-family: 'Montserrat', sans-serif;
        color: #384141;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .text-content p {
        position: relative;
        top: -40px;
        color: #808080;
        font-size: 0.85rem;
    }
    
    .overlay p {
        position: relative;
        top: -55px;
        color: #808080;
        font-size: 0.85rem;
    }
    
    .media:hover img {
        transform: scale(1.2);
        transition: 0.3s linear;
    }
    
    .media img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    .col-3 {
        overflow: hidden;
    }
    
    .social-icon li {
        display: inline-block;
        position: relative;
        top: -6px;
        left: -18px;
        padding: 10px;
    }
    
    .social-icon {
        position: relative;
        top: -80px;
    }
    
    .social-icon li i {
        font-family: "Font Awesome 5 Brands";
    }
    
    .social-icon li a {
        border: none;
        height: 30px;
        line-height: 30px;
        width: 30px;
        font-size: 14px;
        margin: 0 1px;
        text-align: center;
        display: block;
        color: white;
        position: relative;
        z-index: 1;
        top: 17px;
    }
    
    .media:hover .overlay .social-icon li .insta:hover {
        border-radius: 40px;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }
    
    .media:hover .overlay .social-icon li .tw:hover {
        border-radius: 50%;
        background-color: rgb(13, 96, 151, 0.3);
    }
    
    .media:hover .overlay .social-icon li .fb:hover {
        border-radius: 50%;
        background-color: rgb(13, 96, 151, 0.3);
    }
    
    .media:hover .text-content h4 {
        color: #fff;
        transform: scale(1.2)
    }
    
    .media:hover .text-content p {
        color: #fff;
        transform: scale(1.2)
    }
    
    .media:hover .text-content {
        padding: 2rem 1rem;
        background-image: linear-gradient(to right, #5192e1 0%, #5192e1 51%, #23ced5 100%);
        text-align: center;
        height: 108px;
        position: relative;
        overflow: hidden;
        text-transform: capitalize;
        top: 0px;
        transition: 0.3s ease-in-out;
    }
    
    .overlay p {
        color: white;
    }
    
    .media:hover .overlay {
        width: 100%;
        top: -127px;
    }